@import 'normalize.css';

body {
  padding: 20px;
}
/* Pseudo classes */
a:visited {
  color: green;
}
a:hover {
  color: gray;
}
h1:hover {
  color: gray;
}
tr:nth-child(odd) {
  background-color: lightblue;
}
tr:nth-child(even) {
  background-color: beige;
}
tr:first-child {
  background-color: yellow;
}
tr:last-child {
  background-color: bisque;
}
td:nth-child(3) {
  color: blue
}
td:empty {
  background-color: red;
}
th:not(.columna-2) {
  background-color: white;
}

/* Pseudo elementos */

p::first-letter {
  font-size: 300%;
}

p::first-line {
  color: red;
}

p::selection {
  background: lightyellow;
  color: blue;
}

p::after {
  content: ' ver más';
  font-size: 200%;
}

